{% comment %}
    Render a first word and second word

    Accepts:
    - word: {String} the first word
    - second_word: {String} the second word

    Usage:
    {%  render 'my-snippet', { word: word_variable, second: second_word_varaible } %}
{% endcomment %}

<p>The word is {{ word }} and the second word is {{ second_word }}</p>

<img src="{{ 'sparkle.gif' |  asset_img_url: '1000x1000' }}" loading="lazy" width="500" height="500" alt="test">

<script src="{{'my-snippet-script.js' |  asset_url}}" async></script>