<h2 style="text-align: {{ section.settings.title_alignment }};">{{ section.settings.title }}</h2>


{% schema %}
  {
    "name": "Promotions Group",
    "tag": "section",
    "class": "my-warpper-class",
    "settings": [
      {
        "type": "text",
        "label": "Title",
        "id": "title"
      }, {
        "type": "select",
        "label": "Title Alignment",
        "id": "title_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ],
    "presets": [
      {
        "name": "Promotions Group"
      }
    ]
  }
{% endschema %}