<h2>{{ section.settings.title }}</h2>


{% schema %}
  {
    "name": "Promotions Group",
    "tag": "section",
    "class": "my-warpper-class",
    "settings": [
      {
        "type": "text",
        "label": "Title",
        "id": "title"
      }
    ],
    "presets": [
      {
        "name": "Promotions Group"
      }
    ]
  }
{% endschema %}