<h2>{{ section.settings.title }}</h2>


{% schema %}
  {
    "name": "Promotions Group",
    "tag": "section",
    "class": "my-warpper-class",
    "settings": [
      {
        "type": "text",
        "label": "Title",
        "id": "title"
      }, {
        "type": "select",
        "label": "Title Alignment",
        "id": "title_alignment",
        "options": [
          {
            "value": "top",
            "label": "Top"
          }, {
            "value": "middle",
            "label": "Middle"
          }, {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "middle"
      }
    ],
    "presets": [
      {
        "name": "Promotions Group"
      }
    ]
  }
{% endschema %}